@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
    max-width: 1440px;
    margin: 0 auto;
}

/* shared styles */

/* {
    border: 2px solid palevioletred;
} */

main section{
    margin: 0 auto;
    margin-top: 170px;
    max-width: 1140px;
}

.text-center{
    text-align: center;
}
.parragraph{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0 40px;
}
.section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    line-height: 37px;
    font-weight: 800;
    padding: 16px 0;
}

.btn-general{
    color: rgba(13, 19, 33, 0.7);
    padding: 12px 20px;
    border: 2px solid rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
}


/* hero container */
.hero-container{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px;
}

.hero-heading{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    padding: 20px 0;
}

.hero-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 0;
}
.btn-primary{
    background-color: rgb(13, 19, 33);
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}

/* why section work */

.why{
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 95px;
}

.why-container, .inspiration-info, .current-target-info{
    max-width: 850px;
    margin: 0 auto;
}

.development-vision{
    background-color: white;
    padding: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
}
.development-vision-info{
    max-width: 480px;
}

.development-vision-info-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 16px 0;
}

/* inpiration section work  */
.inspiration{
    margin-top: 90px;
}

.inspiration-video{
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    background-color: white;
}


/* current target section  */

.targets-container{
    display: flex;
    gap: 25px;
}

.target{
    max-width: 364px;
    height: 300px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.target-one{
    background: rgba(255, 76, 30, 0.05);
}

.target-two{
    background-color: rgba(0, 76, 232, 0.05);
}
.target-three{
    background-color: rgba(255, 223, 0, 0.05);
}

.target-title{
    font-size: 24px;
    font-weight: 800;
}

.target-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.target-link{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration: underline;
}


/* support section work  */

#support{
    height: 315px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 48px 64px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    padding: 16px 0;
}

.support-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

input[type="text"]{
    padding: 19px 20px;
    width: 550px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 19px;
}

input[type="submit"]{
    padding: 17px 20px;
    width: 120px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600px;
}

/* footer work  */

footer{
    margin-top: 130px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);

}

.social-media a img{
    margin-left: 24px;
}